<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playground.pg.dao.AdCouponMapper">
	<select id="selectCouponList" resultType="CouponDto">
		select * from coupon order by no DESC
	</select>
	
	<select id="selectAllIdList" resultType="string">
		select id from member where grade = "M"
	</select>
	
	<insert id="insertCouponById" parameterType="CouponDto">
		insert into coupon
		(id_FK, coupon, disRate, couDate1, couDate2, couInfo)
		values
		(#{id_FK}, #{coupon}, #{disRate}, #{couDate1}, #{couDate2}, #{couInfo})
	</insert>
	
	<select id="selectIdList" parameterType="CouponManageDto" resultType="string">
		select id from member
		where grade = "M"
		
	</select>
	
	<delete id="deleteCoupon" parameterType="int">
		delete from coupon
		where no = #{couponNo}
	</delete>
</mapper>