<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.playground.pg.dao.ListMapper">
	<select id="selectReviewList" parameterType="int" resultType="ReviewDto">
		select * from review where exNo_FK = #{exNo_Fk} order by writeDate DESC
	</select>
	
	<select id="getArtDto" parameterType="int" resultType="ArtDto">
		select * from art where exNo = #{exNo}
	</select>
	
	<select id="getArtTimeDto" parameterType="int" resultType="ArtTimeDto">
		select * from arttime where exNo_FK = #{exNo_FK}
	</select>
	
	<select id="viewAveScore" parameterType="int" resultType="int">
		select sum(score) from review where exNo_FK = #{no}
	</select>
	
	<select id="isWish" parameterType="map" resultType="int">
		select count(*) from wishList where id_FK = #{id_FK} and exNo_FK = #{exNo_FK}
	</select>
	
	<insert id="insertWish" parameterType="map">
		insert into wishList
		values(#{id_FK}, #{exNo_FK})
	</insert>
	
	<delete id="deleteWish" parameterType="map">
		delete from wishList where id_FK = #{id_FK} and exNo_FK = #{exNo_FK}
	</delete>
</mapper>