<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.playground.pg.dao.ReserveMapper">
	<select id="selectArt"  parameterType="int" resultType="ArtDto">
		Select * from art
		where exNo = #{exNo}
	</select>
	
	<select id="selectTime"  parameterType="int" resultType="ArtTimeDto">
		Select * from arttime
		where exNo_FK = #{exNo_FK}
	</select>
	
	<select id="selectResCnt"  parameterType="int" resultType="ReserveDto">
		Select * from reserve
		where exNo_FK = #{exNo_FK}
	</select>

	<insert id="insertReserve" parameterType="ReserveDto">
		Insert into reserve
		(id_FK, exNo_FK, reDate, reTime1, reTime2, adCnt, chCnt, 
		payment, payDate, point, coupon_FK)
		values
		<choose>
			<when test='chCnt!=0'>
				(#{id_FK}, #{exNo_FK}, #{reDate}, #{reTime1}, #{reTime2}, #{adCnt}, #{chCnt}, 
				#{payment}, #{payDate}, #{point}, #{coupon_FK})
			</when>
			<otherwise>
				(#{id_FK}, #{exNo_FK}, #{reDate}, #{reTime1}, #{reTime2}, #{adCnt}, 0, 
				#{payment}, #{payDate}, #{point}, #{coupon_FK})
			</otherwise>
		</choose>
	</insert>
	
	<update id="updateCoupon" parameterType="int">
		Update coupon Set
		state = 'N'
		where no = #{coupon}
	</update>
	
	<select id="selectPoint" resultType="int" parameterType="String">
		Select point from point
		where id_FK = #{id_FK}
	</select>
	
	<update id="updatePoint" parameterType="map">
		Update point Set
		point = #{remPoint}
		where id_FK = #{id_FK}
	</update>
	
	<insert id="insertPoint" parameterType="map">
		Insert into point
		(id_FK, point)
		values
		(#{id_FK}, #{point})
	</insert>
	
	<select id="selectAllPoint" parameterType="string" resultType="int">
		select sum(point) from point where id_FK = #{id}
	</select>
	
	<select id="selectPoCouponList" parameterType="string" resultType="CouponDto">
		select * from coupon 
		where id_FK = #{id_FK} and state = 'U' 
		order by couDate1 DESC
	</select>

</mapper>