.container .logo ul {
  display: flex;
  justify-content: flex-end;
}

.container .logo li {
  padding-left: 30px;
}

.container .logo li a {
  font-size: 14px;
  font-family: 'NanumSquareRoundB';
  color: rgb(0, 0, 0);
}

.container .logo {
  text-align: left;
  display: block;
  font-family: 'NanumSquareRoundEB';
  color: rgb(0, 0, 0);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); */
  padding-left: 10px;
}

.error_page{
  height: 87vh;
  /* 센터 하이트 퍼센트로 할지 생각중 이건 얘기해보고 하기 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.error_text{
  padding: 30px 20px;
  line-height: 22px;
  background-color: #f0f0f0;
  margin-top: 30px;
  color: #888888;
  text-align: left;
  width: 550px;
  border-radius: 20px;
position: relative;
}

.error_text p::before{
  margin-top: 9px;
  border-radius: 20px;
  display: block;
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  /* top: 10px; */
  left: 10px;
background-color: #888888;
}
.error_button{
  padding: 18px 13px;
  /* width: 200px; */
  font-weight: bold;
  /* height: 100px; */
  border-radius: 5px;
    /* 9ABDA7 
  3D725E
  */
  background-color: #9ABDA7;
}
.error_button:hover{
  color: #fff;
  background-color: #3D725E;
}
.error_button:hover a{
  color: #fff;
  /* background-color: #3D725E; */
} 
.error_button a{
  color: #707070;
}