.container {
    margin-top: 150px;
}

.error_page .logo {
    display: block;
    font-family: 'NanumSquareRoundEB';
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
}

.error_page .logo span {
    text-shadow: -2.5px 0 #000, -1PX 1px #000, 1px 0 #000, 0 -1px #000;
}

.error_page {
    /* height: 87vh;*/
    /* 센터 하이트 퍼센트로 할지 생각중 이건 얘기해보고 하기 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.error_title {
    margin: 90px 0 40px 0;
}

.error_title span {
    display: block;
    font-family: 'NanumSquareRoundB';
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 50px;
}

.error_title span:last-of-type {
    font-size: 19px;
}

.error_text {
    font-family: 'AppleSDGodicNeoM';
    padding: 30px 20px;
    line-height: 22px;
    background-color: #f0f0f0;
    color: #000;
    text-align: left;
    width: 550px;
    border-radius: 20px;
    position: relative;
}

.error_text p:first-of-type {
    margin-bottom: 10px;
}

.error_button {
    margin-top: 80px;
    display: inline-block;
    width: 280px;
    padding: 13px 0;
    border-radius: 3px;
    background-color: #3d725e;
    color: #fff;
    text-align: center;
    font-family: 'NanumSquareB';
}